.form-field-layout {
  --layoutPadding: var(--spacing4, 10px) var(--spacing3, 20px);
  --layoutColor: var(--black, rgba(0,0,0,.7));

  color: var(--layoutColor);
  display: grid;
  grid: "label error" 1fr
        "form form"
        / auto auto;
  grid-gap: 10px;
}

.label {
  grid-area: label;
  font-weight: 500;
}

.error {
  grid-area: error;
  text-align: right;
  color: var(--error, red);
  font-size: .8em;
}

.form-element {
  grid-area: form;
  background: rgba(0,0,0,.03);
}
select.form-element,
input.form-element,
textarea.form-element {
  border-radius: 2px;
  border: 1px solid rgba(0,0,0,.1);
  padding: var(--layoutPadding);
}
