@import '~styles/shared';

.pre-upload {
  height: 100%;
  width: 100%;
  border: 1px dashed $gray3;
  border-radius: 5px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $gray3;
  font-weight: 300;
  background: rgba($gray4, .2);

  cursor: pointer;
  transition: opacity .2s;
  &:hover {
    opacity: .8;
    transition: opacity .2s;
  }
}
