@import '~esayemm-styles/variables';

// Wrapper for recursively displaying sections.
.wrapper {
  display: flex;
  flex-direction: column;

  // Since sections are recursive only show border for the top level section.
  border-bottom: 1px solid $lightgray;
  margin-bottom: -1px;
  // .wrapper {
  //   margin-bottom: 0;
  //   border-bottom: 0;
  // }

  .section {
    display: flex;
    flex-direction: row;

    h1, h2, h3, h4 {
      color: $headerColor;
      margin-bottom: $spacing2;
      letter-spacing: .1em;
    }
    h4 {
      margin-bottom: 0;
    }

    .description {
      width: 40%;
      padding: $spacing2;

      .demo {
        margin-bottom: $spacing2;
      }
    }

    // Source code
    .source {
      width: 100%;
      max-width: 60%;
      padding: $spacing2;
      background: $slate;
      color: rgba($white, .7);
      text-shadow: 0 2px 4px rgba(black, .2);

      h1, h2, h3, h4 {
        color: rgba($white, .8);
      }

      code {
        // Have to use important because highlight.js will override the style using
        // javscript.
        padding: $spacing4 $spacing3 !important;
        line-height: 1.4;
        font-size: .8em;
        font-family: monospace;
        background-color: rgba(darken($slate, 10), .4);
      }
    }

    @media screen and (min-width: 1300px) {
      .description {
        width: $maxWidth;
      }

      .source {
        max-width: 100%;
      }
    }

    @media screen and (max-width: 800px) {
      flex-direction: column;

      .description {width: 100%;}
      .source {
        max-width: 100%;
      }
    }
  }

  // Header needs both sections so the colors for left and right is accurate.
  .header {
    .description {
      padding-bottom: 0;
    }
    .source {
      padding-bottom: 0;
    }

    @media screen and (max-width: 800px) {
      .source { visibility: hidden; }
    }
  }
}
