@import '~styles/shared';

.container {
  composes: flex-row;
  align-items: center;
  height: 100%;
  overflow: auto;

  &.left {
    justify-content: flex-start;
  }

  &.right {
    justify-content: flex-end;
  }

  &.center {
    justify-content: center;
  }
}

.container__item {
  height: 100%;
  composes: flex-row;
  align-items: center;
}
