@import '~esayemm-styles/variables';

.demo {
  margin-top: $spacing3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "instance codeSnippet";
  grid-column-gap: $spacing3;
}

.instance {
  grid-area: instance;
  min-width: 0;
}

.codeSnippet {
  grid-area: codeSnippet;
  min-width: 0;
}
