@import '~esayemm-styles/variables';

.demo {
  margin-top: $spacing3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "instance codeSnippet";
  grid-column-gap: $spacing3;

  @media screen and (max-width: 1200px) {
    grid-template-columns: 1fr;
    grid-row-gap: $spacing3;
    grid-template-areas: "instance"
      "codeSnippet";
  }
}

.instance {
  grid-area: instance;
  min-width: 0;
}

.codeSnippet {
  grid-area: codeSnippet;
  min-width: 0;
}
