.demo {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "instance codeSnippet";
  grid-column-gap: 1rem;
}

.instance {
  grid-area: instance;
  min-width: 0;
}

.codeSnippet {
  grid-area: codeSnippet;
  min-width: 0;
}
