@import '~esayemm-styles/variables';

.container + .container {
  margin-top: $spacing3;
}

.container {
  h3 {
    margin-bottom: $spacing3;
  }

  section {
    margin-bottom: $spacing2;
  }
}

.main-header {
  font-size: 3em;
  margin-bottom: $spacing2;
}
