@import '~esayemm-styles/variables';

.container + .container {
  margin-top: $spacing3;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "info demo"

  ;
  grid-column-gap: $spacing3;

  h3 {
    margin-bottom: $spacing3;
  }

  section {
    margin-bottom: $spacing2;
  }

  @media screen and (max-width: 1200px) {
    grid-template-columns: 1fr;
    grid-template-areas: "info"
      "demo";
  }
}

.info {
  grid-area: info;
}
.main-header {
  font-size: 3em;
  margin-bottom: $spacing2;
}

.demo {
  grid-area: demo;
  overflow: auto;
}

