.container {
  overflow: hidden;
  font-size: 1em;
  padding: .5rem 1.4rem;
  cursor: pointer;
  border-radius: 2rem;
  opacity: 1;
  transition: opacity .3s;
  position: relative;
  // so loading overlay doesn't spill over border-radius
  z-index: 1;

  &:hover {
    opacity: .6;
    transition: opacity .3s;
  }
}
