@import '~esayemm-styles/variables';

.button {
  overflow: hidden;
  font-size: .8em;
  padding: $spacing5 $spacing3;
  cursor: pointer;
  border-radius: 2em;
  opacity: 1;
  transition: opacity .3s;
  position: relative;
  // so loading overlay doesn't spill over border-radius
  z-index: 1;

  &:hover {
    opacity: .6;
    transition: opacity .3s;
  }

  &:disabled {
    filter: saturate(0);
    cursor: default;
    opacity: .6;
  }
}
