@import '~esayemm-styles/variables';

.button {
  width: auto;
  text-align: center;
  overflow: hidden;
  font-size: .8em;
  padding: $spacing5 $spacing3;
  cursor: pointer;
  border-radius: 2em;
  opacity: 1;
  position: relative;
  // so loading overlay doesn't spill over border-radius
  z-index: 1;
  box-shadow: 0 2px 4px rgba(black, .1);
  transform: translateY(0);
  transition: all .3s;

  &:hover {
    opacity: .85;
    transform: translateY(-1px);
    box-shadow: 0 4px 8px rgba(black, .2);
  }

  &:disabled {
    filter: saturate(0);
    cursor: default;
    opacity: .6;
    transform: none;
    box-shadow: 0 2px 4px rgba(black, .2);
  }
}
