@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  --loadingColor: 100, 100, 100;
  --loadingSize: 1em;

  display: inline-block;
  border-radius: 50%;
  width: var(--loadingSize);
  height: var(--loadingSize);
  border: .15em solid rgba(var(--loadingColor), .2);
  border-top-color: var(--loadingColor);
  animation: spin 1.2s infinite cubic-bezier(1,.5,.6,0);
}
