@import '~esayemm-styles/variables';

.pre-upload {
  height: 100%;
  width: 100%;
  border: 1px dashed $lightgray;
  border-radius: 5px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  background: rgba($lightgray, .2);

  cursor: pointer;
  transition: opacity .2s;
  &:hover {
    opacity: .8;
    transition: opacity .2s;
  }
}
