@import '~esayemm-styles';

.index {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.header {
  composes: flex-row;
  height: 4rem;
  background: $cyan3;
  color: white;
  box-shadow: 0 5px 10px rgba(black, .2);
  padding: 0 2rem;
  z-index: 3;
}

.sidebar-wrapper {
  height: 100%;
  width: 20rem;
  z-index: 2;

  .sidebar {
    background: $slate;
    color: white;
    border-right: 1px solid darken($slate, 10);
  }
}

.content {
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 1rem;
}

.dropheader {
  padding: 1rem 2rem;
  cursor: pointer;
  background: darken($slate, 5);
  font-weight: 500;
}

.item {
  display: flex;
  padding: 1em 2em;
  cursor: pointer;
  font-weight: 500;
}

$dropchild-color: $cyan2;
.dropchild {
  @include hoverBg(darken($dropchild-color, 20));
  composes: item;
  font-size: .8em;
}
.dropchild.active {
  background: $dropchild-color;
}

.link {
  text-transform: uppercase;
  font-size: .85em;
}
