@import '~esayemm-styles/variables';

@keyframes :global(rui-fadeIn) {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes :global(rui-fadeOut) {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

// IMPORTANT:
// If you are going to add a new type remember to add in the corresponding
// javascript file as well.
:global {
  .rui-fade-enter.rui-fade-enter-active {
    animation: rui-fadeIn 500ms forwards;
  }
  .rui-fade-leave.rui-fade-leave-active {
    animation: rui-fadeOut 500ms forwards;
  }
}
