@import '~esayemm-styles/variables';

:global {
  .rui-fade-enter {
    opacity: 0;
  }

  .rui-fade-enter.rui-fade-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }

  .rui-fade-leave {
    opacity: 1;
  }

  .rui-fade-leave.rui-fade-leave-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
  }
}
