@import '~esayemm-styles/variables';

.pre {
  margin: 0;
}

.code {
  padding: $spacing4 $spacing3;
  line-height: 1.4;
  font-size: .8em;
  font-family: monospace;
  background: rgba(black, .03);
}
