@import '~esayemm-styles';

.container + .container {
  margin-top: $spacing3;
}

.container__top {
  display: flex;
  flex-direction: row;
}

.container__label {
  font-weight: 500;
  font-size: .8em;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.container__form-field {
  width: 100%;
  padding: $spacing4;
  display: block;
  background: transparent;
  border-bottom: 1px solid $gray5;
  margin-bottom: 1px;

  &:focus {
    border-bottom: 2px solid $cyan2;
    margin-bottom: 0;
  }
}
.container__form-field::placeholder {
  color: $gray4;
}

.container__form-field-error {
  margin-left: auto;
  animation: fadeIn .1s;
  font-size: .8em;
}

.container--error {
  color: $red;
  transition: color .3s;

  .container__form-field {
    border-color: $red;
  }
}

