@import '~esayemm-styles';

.container {
  margin: 1rem;
}

.container__top {
  display: flex;
  flex-direction: row;
}

.container__label {
  font-weight: 500;
  font-size: .8em;
  text-transform: uppercase;
}

.container__form-field {
  width: 100%;
  padding: 1rem;
  display: block;
  background: transparent;
  border-bottom: 1px solid $gray3;

  &:focus {
    border-bottom: 1px solid $cyan2;
  }
}

.container__form-field-error {
  margin-left: auto;
  animation: fadeIn .1s;
  font-size: .8em;
}

.container--error {
  color: $red;
  transition: color .3s;

  .container__form-field {
    border-bottom: 1px solid $red;
  }
}
