@import '~esayemm-styles/variables';

.error {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: $error;
  border: 1px dashed darken($error, 20);
  border-radius: 5px;
  background: rgba($error, .2);

  cursor: pointer;
  transition: opacity .2s;
  &:hover {
    opacity: .8;
    transition: opacity .2s;
  }
}
