@import '~esayemm-styles/variables';

@keyframes scaleIn {
  0% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.alert {
  animation: scaleIn .2s;
  padding: $spacing4 $spacing3;
  box-shadow: 0 5px 10px rgba(black, .1);
  cursor: pointer;
}

.error {
  background: lighten($error, 20);
  color: $error;
}

.positive {
  background: lighten($success, 20);
  color: $success;
}
