.example {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "info samples samples";
}

.info {
  padding: var(--spacing-lg);
  grid-area: info;
  line-height: 1.45em;
}
.info h3 {
  font-family: var(--headerFont);
  color: var(--headerColor);
  margin-bottom: var(--spacing-md);
  text-transform: uppercase;
}
.info p {
  margin-bottom: var(--spacing-md);
}

.samples {
  grid-area: samples;
  background: var(--bg-secondary-color);
  padding: var(--spacing-lg);
}

.sample {
  margin-bottom: var(--spacing-lg);
}

.demo {
  margin-bottom: var(--spacing-md);
}
