@import '~esayemm-styles';
// variables used for rui-kit library
@import '../../src/variables.css';
@import './variables.css';
@import url('https://fonts.googleapis.com/css?family=Montserrat');

:global {
  body {
    font-weight: 300;
    @media only screen and (max-device-width: 480px) {
      font-size: 30px;
      line-height: 1.5em;
    }
  }

  h1, h2, h3, h4 {
    font-weight: 400;
  }
}
