@import '~esayemm-styles/global';

:global {
  body {
    background: lighten($gray5, 10);

    @media only screen and (max-device-width: 480px) {
      font-size: 30px;
      line-height: 1.5em;
    }
  }
}
