@import '~esayemm-styles/global';

:global {
  body {
    background: lighten($lightgray, 10);

    @media only screen and (max-device-width: 480px) {
      font-size: 30px;
      line-height: 1.5em;
    }
  }

  h1, h2, h3, h4 {
    color: $headerColor;
  }
}
