@import '~esayemm-styles';

$sidebarBgColor: white;
$sidebarActiveBgColor: rgba($slate, .5);
$sidebarActiveColor: white;
$sidebarHoverBgColor: lighten($sidebarActiveBgColor, 30);

.sidebar {
  border-right: 1px solid darken($sidebarBgColor, 10);
}

.item {
  display: flex;
  padding: 1em 2em;
  cursor: pointer;
  font-weight: 500;
}

.dropheader {
  padding: 1rem 2rem;
  cursor: pointer;
  background: darken($sidebarBgColor, 5);
  font-weight: 500;
}

.dropchild {
  @include hoverBg($sidebarHoverBgColor);
  composes: item;
  font-size: .8em;
}
.dropchild.active {
  background: $sidebarActiveBgColor;
  color: $sidebarActiveColor;
}
