@import '~esayemm-styles';

$sidebarBgColor: white;
$sidebarActiveHighlightColor: rgba($slate, .6);
$sidebarActiveBgColor: rgba($slate, .1);
$sidebarHoverBgColor: lighten($sidebarActiveBgColor, 30);

.sidebar {
  background: rgba($gray5, .1);
}

.item {
  display: flex;
  padding: $spacing4 $spacing3;
  cursor: pointer;
  font-weight: 500;
}

.dropheader {
  padding: $spacing4 $spacing3;
  cursor: pointer;
  background: darken($sidebarBgColor, 5);
  font-weight: 500;
}

.dropchild {
  @include hoverBg($sidebarHoverBgColor);
  transition: background .3s;
  composes: item;
  font-size: .8em;
}
.dropchild.active {
  position: relative;
  background: $sidebarActiveBgColor;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background: $sidebarActiveHighlightColor;
  }
}
