$main-color: rgb(255,255,255);
$off-main-color: rgba($main-color, 0.2);
$spin-duration: 1s;
$spin-duration-inner: 3s;

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(120deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinNormal {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  display: inline-block;
  position: relative;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  border: .1em solid $off-main-color;
  border-top-color: $main-color;
  animation: spin $spin-duration infinite linear;

  .before {
    content: "";
    position: absolute;
    border: .1em solid transparent;
    border-bottom-color: $main-color;
    border-right-color: $main-color;
    top: .1em;
    left: .1em;
    right: .1em;
    bottom: .1em;
    border-radius: 50%;
    animation: spinNormal $spin-duration-inner linear infinite;
  }
}
