.form-field-layout {
  --form-field-layout-padding: var(--rui-spacing4) var(--rui-spacing3);

  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
}

.error {
  color: var(--rui-error);
  margin-left: auto;
}

.label {

}

.form-element {
  padding: var(--form-field-layout-padding);
}
