.button {
  --buttonColor: 150, 150, 150;
  --buttonLineColor: 255, 255, 255;
  --buttonShadowColor: 70,70,70;

  position: relative;
  display: inline-block;
  border-radius: .6em;
  font-weight: 300;
  box-shadow: 0 2px 4px rgba(var(--buttonShadowColor), .1);
  line-height: 1em;
  cursor: pointer;
  padding: var(--spacing5) var(--spacing3);
  transition: all .3s;
  width: auto;
  text-align: center;
}
.button:hover {
  box-shadow: 0 4px 8px rgba(var(--buttonShadowColor), .2);
  transform: translate3d(0, -1px, 0);
}

.button:disabled {
  box-shadow: none;
  cursor: default;
  filter: saturate(0);
  opacity: .6;
  transform: none;
}

.button.filled {
  color: white;
  background-color: rgb(var(--buttonColor));
}

.button.outline {
  box-sizing: border-box;
  border: 2px solid rgba(var(--buttonColor), .7);
  background-color: transparent;
  color: rgb(var(--buttonColor));
}

.loading {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate3d(50%, -50%, 0);
}
