@import '~esayemm-styles/variables';

@keyframes expand {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

.container {
  box-shadow: 0 5px 20px rgba(black, .2);
}

.content {
  height: 400px;
  padding: 1rem;
  box-shadow: 0 5px 20px rgba(black, .2);
  width: calc(100% + $spacing3);
  background: blue;
  z-index: 3;
  animation: expand 1s forwards;
}

.header {
  padding: 1rem;
  z-index: -4;
  border-bottom: 1px solid $lightgray;
  cursor: pointer;
  background: red;
}
