@import '~esayemm-styles/variables';

.container {
  // Markdown stylings

  a {
    color: $blue;
  }

  ul {
    li {
      list-style-type: disc;
      list-style-position: inside;
    }
  }

  ol {
    li {
      list-style-type: decimal;
      list-style-position: inside;
    }
  }

  code {
    display: inline;
    padding: .3em .5em;
    line-height: 1.4;
    font-size: .8em;
    font-family: monospace;
  }

  pre {
    margin: 0;
    width: 100%;

    code {
      margin: 0;
      display: block;
      width: 100%;
      padding: $spacing4 $spacing3;
    }
  }

  li {
    p {
      margin-left: $spacing5;
      display: inline;
    }
    * + * {
      margin-top: $spacing4;
      display: block;
      margin-left: $spacing3;
    }
  }

  table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;

    th {
      padding: $spacing4;
      border-bottom: 1px solid $lightgray;
      text-align: left;
      margin: 0;
    }

    td {
      border-bottom: 1px solid $lightgray;
      padding: $spacing4;
      margin: 0;
    }
  }
}
