:global .rui {
  // Colors
  --white     : #ffffff;
  --black     : #000000;
  --gray      : #363732;
  --lightgray : #DCE1E9;
  --cyan      : #81D2C7;
  --blue      : #66C3FF;
  --yellow    : #FFC937;
  --pink      : #D4AFB9;
  --green     : #21A179;
  --red       : #C67B7D;
  --slate     : #2e3d49;

  // Semantic colors
  --brand    : #D4AFB9;
  --secondary: #0D0A08;
  --error    : var(--red);
  --warning  : var(--yellow);
  --success  : var(--green);

  // Spacing
  --spacing1: 6em;
  --spacing2: 4em;
  --spacing3: 2em;
  --spacing4: 1em;
  --spacing5: .6em;
  --spacing6: .4em;

  // Font
  --size1: 3em;
  --size2: 2.25em;
  --size3: 1.75em;
  --size4: 1.125em;
  --size5: 1em;
  --size6: .8em;
}
