@import '~esayemm-styles';

$sidebarActiveHighlightColor: rgba($slate, .6);
$sidebarActiveBgColor: rgba($slate, .1);
$sidebarHoverBgColor: rgba($slate, .1);

.sidebar {
  background: rgba($lightgray, .3);
  overflow: auto;
  height: 100%;
}

.item {
  display: flex;
  padding: $spacing4 $spacing3;
  cursor: pointer;
  color: $defaultColorSecondary !important;
}

.dropheader {
  padding: $spacing4 $spacing3;
  cursor: pointer;
  font-weight: 500;
}

.dropchild {
  composes: item;
  transition: background .3s;
  font-size: .8em;
}
.dropchild.active {
  position: relative;
  background: $sidebarActiveBgColor;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 3px;
    height: 100%;
    background: $sidebarActiveHighlightColor;
  }
}
