@import '~esayemm-styles/variables';

.container {
  display: flex;
  flex-direction: column;
  min-height: 100%;


  .bottom {
    flex-grow: 1;
    display: flex;
    flex-direction: row;

    .description {
      width: 40%;
      padding: $spacing2;
    }

    .source {
      width: 100%;
      max-width: 60%;
      padding: $spacing2;
      background: $slate;
    }

    @media screen and (min-width: 1300px) {
      .description {
        width: $maxWidth;
      }

      .source {
        max-width: 100%;
      }
    }

    @media screen and (max-width: 800px) {
      .description {visibility: hidden;}
      .source {visibility: hidden;}
    }
  }
}
